{"openapi":"3.1.0","info":{"title":"HelloBooks Public API","version":"1.0.0","summary":"Third-party accounting API for HelloBooks organisations.","description":"Machine-readable description of the HelloBooks public API, **generated** from the route registry rather than written by hand. Regenerate with `node scripts/generate-openapi.js`; `tests/publicApiOpenapi.test.js` fails the build when a live route has no entry here.\n\n## What this document is honest about\n\nResponse and request **field lists are not published yet**. The field contract that would supply them (`routes/publicApi.contract.js`) is present (routes/publicApi.contract.js); 76 of 105 resources have a published field baseline, and its generated baseline is deliberately empty at increment 1. Rather than emit confident empty schemas, every unresolved shape here is an unconstrained object marked `x-hellobooks-field-contract: \"unpublished\"`. Absence of properties means *not yet described*, never *no fields*.\n\n## Authentication and scopes\n\nOAuth 2.0 authorization code. The access token carries the `marketplace_app` audience and is bound to a single AppInstall, and so to a single (org, entity) pair.\n\nScopes are granular: **14 domains x {read, write} = 28 scopes**, plus the two legacy bundles. Each of the 466 factory operations names the scope of its own resource domain — `sales:read` for an invoice, `payroll:read` for an employee, `paymentmethods:read` for a stored card — so a token scoped to sales cannot reach payroll or card details at all.\n\n`book:read` and `book:write` remain **grantable bundle scopes**, not deprecated aliases: `book:read` expands to every `<domain>:read` and `book:write` to every `<domain>:write` (never to reads). Each operation's `security` therefore lists the granular scope AND the bundle that satisfies it as alternatives, which is how a generated client learns both grants are valid. The full domain table and both expansions are in `components.securitySchemes.marketplaceOAuth2.x-hellobooks-scope-model`.\n\nTwo surfaces stay coarse deliberately: dynamic client registration and the `/books/drafts` flow require only the bundles, because AI-MCP-Hellobooks understands exactly four scope strings and a granular scope would grant its connector nothing. Those operations are marked `x-hellobooks-scope-grain: \"coarse-bundle\"`.\n\nNo scope is required for `GET /health`, `GET /me` — service endpoints that carry no tenant payload. They are still behind the bearer token; there is no anonymous endpoint on this gateway.\n\n## Tenancy\n\nEvery resource path carries `{orgId}` and `{entityId}`. `requireTenantParamMatch` rejects any value that is not the install's own OrgRefId / EntityRefId with 403 `tenant_scope_violation`. `GET /me` is how a client discovers the pair it is allowed to use.\n\n## Rate limits\n\nCounted per `(clientId, installId)`. Default **120 requests / 60 seconds**, overridable per app via `AppApiKey.RateLimit.MaxRequests`; when no override exists and plan enforcement is switched on, the ceiling comes from the org plan's `ApiRequestsPerMinute`. On failure of the limiter's Redis store the request is allowed through (`passOnStoreError`). Responses carry RFC 9651 draft-8 `RateLimit` and `RateLimit-Policy` headers; a 429 adds `Retry-After`.\n\n## Billing\n\nEvery request except `/health`, `/me` and the books draft→commit flow is pre-charged against the tenant's AI-credit wallet and settles only on a response below 400. A depleted wallet returns 402.\n\n## Error shapes\n\nThere are **two**, and they are not interchangeable. Gateway middlewares return `{ error: \"<code>\", message }` where `error` is a string. Plan-entitlement denials return `{ success: false, error: { code, plan, upgradeTo, upgradeUrl, feature } }` where `error` is an object. Both can arrive on 403. Clients must branch on the type of `error` before reading it.","license":{"name":"Proprietary","identifier":"LicenseRef-HelloBooks-Proprietary"}},"servers":[{"url":"https://api.hellobooks.ai/public/v1","variables":{"host":{"default":"https://api.hellobooks.ai","description":"HelloBooks auth-service host."}}}],"security":[{"marketplaceOAuth2":["book:read"]}],"tags":[{"name":"service","description":"Gateway self-description."},{"name":"bookkeeping","description":"Draft → confirm → commit flow."},{"name":"webhooks","description":"Subscription management (delivery dormant)."},{"name":"customers","description":"Hand-written customer routes predating the factory."},{"name":"documents","description":"Document auto-numbering."},{"name":"account","description":"Registry resource `account` → `controllers/GRPC/Accounting/account.grpc`."},{"name":"accountsByPayee","description":"Registry resource `accountsByPayee` → `controllers/GRPC/Accounting/accountsByPayee.grpc`."},{"name":"agedPayables","description":"Registry resource `agedPayables` → `controllers/GRPC/Accounting/agedPayables.grpc`."},{"name":"agedPayablesSummary","description":"Registry resource `agedPayablesSummary` → `controllers/GRPC/Accounting/agedPayables.grpc`."},{"name":"agedReceivables","description":"Registry resource `agedReceivables` → `controllers/GRPC/Accounting/agedReceivables.grpc`."},{"name":"agedReceivablesSummary","description":"Registry resource `agedReceivablesSummary` → `controllers/GRPC/Accounting/agedReceivables.grpc`."},{"name":"approvalRule","description":"Registry resource `approvalRule` → `controllers/GRPC/Accounting/approvalRule.grpc`."},{"name":"assetAttachment","description":"Registry resource `assetAttachment` → `controllers/GRPC/Accounting/assetAttachment.grpc`."},{"name":"assetDisposal","description":"Registry resource `assetDisposal` → `controllers/GRPC/Accounting/assetDisposal.grpc`."},{"name":"assetGroup","description":"Registry resource `assetGroup` → `controllers/GRPC/Accounting/assetGroup.grpc`."},{"name":"assetSurvey","description":"Registry resource `assetSurvey` → `controllers/GRPC/Accounting/assetSurvey.grpc`."},{"name":"assetTimingDifference","description":"Registry resource `assetTimingDifference` → `controllers/GRPC/Accounting/assetTimingDifference.grpc`."},{"name":"assetTransfer","description":"Registry resource `assetTransfer` → `controllers/GRPC/Accounting/assetTransfer.grpc`."},{"name":"balanceSheet","description":"Registry resource `balanceSheet` → `controllers/GRPC/Accounting/reports/balanceSheet.grpc`."},{"name":"bill","description":"Registry resource `bill` → `controllers/GRPC/Accounting/bill.grpc`."},{"name":"billAddress","description":"Registry resource `billAddress` → `controllers/GRPC/Accounting/billAddress.grpc`."},{"name":"billLine","description":"Registry resource `billLine` → `controllers/GRPC/Accounting/billLine.grpc`."},{"name":"budget","description":"Registry resource `budget` → `controllers/GRPC/Accounting/budget.grpc`."},{"name":"businessOwner","description":"Registry resource `businessOwner` → `controllers/GRPC/Accounting/businessOwner.grpc`."},{"name":"cashFlow","description":"Registry resource `cashFlow` → `controllers/GRPC/Accounting/reports/cashFlow.grpc`."},{"name":"cashbook","description":"Registry resource `cashbook` → `controllers/GRPC/Accounting/cashbook.grpc`."},{"name":"class","description":"Registry resource `class` → `controllers/GRPC/Accounting/class.grpc`."},{"name":"comment","description":"Registry resource `comment` → `controllers/GRPC/Accounting/comment.grpc`."},{"name":"customer","description":"Registry resource `customer` → `controllers/GRPC/Accounting/customer.grpc`."},{"name":"customerAddress","description":"Registry resource `customerAddress` → `controllers/GRPC/Accounting/customerAddress.grpc`."},{"name":"customerAdvance","description":"Registry resource `customerAdvance` → `controllers/GRPC/Accounting/customerAdvance.grpc`."},{"name":"customerAdvanceApplication","description":"Registry resource `customerAdvanceApplication` → `controllers/GRPC/Accounting/customerAdvanceApplication.grpc`."},{"name":"customerAdvanceRecurringLink","description":"Registry resource `customerAdvanceRecurringLink` → `controllers/GRPC/Accounting/customerAdvanceRecurringLink.grpc`."},{"name":"customerAdvanceRefund","description":"Registry resource `customerAdvanceRefund` → `controllers/GRPC/Accounting/customerAdvanceRefund.grpc`."},{"name":"customerAdvanceSchedule","description":"Registry resource `customerAdvanceSchedule` → `controllers/GRPC/Accounting/customerAdvanceSchedule.grpc`."},{"name":"customerBalance","description":"Registry resource `customerBalance` → `controllers/GRPC/Accounting/customerBalance.grpc`."},{"name":"customerContactPersons","description":"Registry resource `customerContactPersons` → `controllers/GRPC/Accounting/customerContactPerson.grpc`."},{"name":"customerCreditCard","description":"Registry resource `customerCreditCard` → `controllers/GRPC/Accounting/customerCreditCardDetail.grpc`."},{"name":"customerDebitCard","description":"Registry resource `customerDebitCard` → `controllers/GRPC/Accounting/customerDebitCardDetail.grpc`."},{"name":"customerGroup","description":"Registry resource `customerGroup` → `controllers/GRPC/Accounting/customerGroup.grpc`."},{"name":"deliveryChallan","description":"Registry resource `deliveryChallan` → `controllers/GRPC/Accounting/deliveryChallan.grpc`."},{"name":"deliveryChallanAddress","description":"Registry resource `deliveryChallanAddress` → `controllers/GRPC/Accounting/deliveryChallanAddress.grpc`."},{"name":"deliveryChallanLine","description":"Registry resource `deliveryChallanLine` → `controllers/GRPC/Accounting/deliveryChallanLine.grpc`."},{"name":"employee","description":"Registry resource `employee` → `controllers/GRPC/Accounting/employee.grpc`."},{"name":"employeeAddress","description":"Registry resource `employeeAddress` → `controllers/GRPC/Accounting/employeeAddress.grpc`."},{"name":"employeeCreditCard","description":"Registry resource `employeeCreditCard` → `controllers/GRPC/Accounting/employeeCreditCardDetail.grpc`."},{"name":"employeeDebitCard","description":"Registry resource `employeeDebitCard` → `controllers/GRPC/Accounting/employeeDebitCardDetail.grpc`."},{"name":"expenseClaim","description":"Registry resource `expenseClaim` → `controllers/GRPC/Accounting/expenseClaim.grpc`."},{"name":"expenseReceipt","description":"Registry resource `expenseReceipt` → `controllers/GRPC/Accounting/expenseReceipt.grpc`."},{"name":"fixedAsset","description":"Registry resource `fixedAsset` → `controllers/GRPC/Accounting/fixedAssets.grpc`."},{"name":"generalLedger","description":"Registry resource `generalLedger` → `controllers/GRPC/Accounting/generalLedger.grpc`."},{"name":"goodReceiptNoteLine","description":"Registry resource `goodReceiptNoteLine` → `controllers/GRPC/Accounting/goodReceiptNoteLine.grpc`."},{"name":"goodReceiptNotes","description":"Registry resource `goodReceiptNotes` → `controllers/GRPC/Accounting/goodReceiptNote.grpc`."},{"name":"grossProfit","description":"Registry resource `grossProfit` → `controllers/GRPC/Accounting/reports/grossProfit.grpc`."},{"name":"invoice","description":"Registry resource `invoice` → `controllers/GRPC/Accounting/invoice.grpc`."},{"name":"invoiceAddress","description":"Registry resource `invoiceAddress` → `controllers/GRPC/Accounting/invoiceAddress.grpc`."},{"name":"invoiceLine","description":"Registry resource `invoiceLine` → `controllers/GRPC/Accounting/invoiceLine.grpc`."},{"name":"invoiceLinkedBill","description":"Registry resource `invoiceLinkedBill` → `controllers/GRPC/Accounting/invoiceLinkedBill.grpc`."},{"name":"item","description":"Registry resource `item` → `controllers/GRPC/Accounting/item.grpc`."},{"name":"journal","description":"Registry resource `journal` → `controllers/GRPC/Accounting/reports/journal.grpc`."},{"name":"lead","description":"Registry resource `lead` → `controllers/GRPC/Accounting/lead.grpc`."},{"name":"linkedSalesCreditNoteInvoice","description":"Registry resource `linkedSalesCreditNoteInvoice` → `controllers/GRPC/Accounting/linkedSalesCreditNoteInvoice.grpc`."},{"name":"linkedTransaction","description":"Registry resource `linkedTransaction` → `controllers/GRPC/Accounting/linkedTransaction.grpc`."},{"name":"location","description":"Registry resource `location` → `controllers/GRPC/Accounting/location.grpc`."},{"name":"ownerAddress","description":"Registry resource `ownerAddress` → `controllers/GRPC/Accounting/businessOwnerAddress.grpc`."},{"name":"ownerCreditCard","description":"Registry resource `ownerCreditCard` → `controllers/GRPC/Accounting/businessOwnerCreditCard.grpc`."},{"name":"ownerDebitCard","description":"Registry resource `ownerDebitCard` → `controllers/GRPC/Accounting/businessOwnerDebitCard.grpc`."},{"name":"ownerLoanAccounts","description":"Registry resource `ownerLoanAccounts` → `controllers/GRPC/Accounting/businessOwnerLoanAccount.grpc`."},{"name":"payment","description":"Registry resource `payment` → `controllers/GRPC/Accounting/payment.grpc`."},{"name":"profitLoss","description":"Registry resource `profitLoss` → `controllers/GRPC/Accounting/reports/profitLoss.grpc`."},{"name":"project","description":"Registry resource `project` → `controllers/GRPC/Accounting/project.grpc`."},{"name":"purchaseCreditNote","description":"Registry resource `purchaseCreditNote` → `controllers/GRPC/Accounting/purchaseCreditNote.grpc`."},{"name":"purchaseCreditNoteLine","description":"Registry resource `purchaseCreditNoteLine` → `controllers/GRPC/Accounting/purchaseCreditNoteLine.grpc`."},{"name":"purchaseOrder","description":"Registry resource `purchaseOrder` → `controllers/GRPC/Accounting/purchaseOrder.grpc`."},{"name":"purchaseOrderAddress","description":"Registry resource `purchaseOrderAddress` → `controllers/GRPC/Accounting/purchaseOrderAddress.grpc`."},{"name":"purchaseOrderLine","description":"Registry resource `purchaseOrderLine` → `controllers/GRPC/Accounting/purchaseOrderLine.grpc`."},{"name":"purchaseRequest","description":"Registry resource `purchaseRequest` → `controllers/GRPC/Accounting/purchaseRequest.grpc`."},{"name":"purchaseRequestLine","description":"Registry resource `purchaseRequestLine` → `controllers/GRPC/Accounting/purchaseRequestLine.grpc`."},{"name":"quote","description":"Registry resource `quote` → `controllers/GRPC/Accounting/quote.grpc`."},{"name":"quoteLine","description":"Registry resource `quoteLine` → `controllers/GRPC/Accounting/quoteLine.grpc`."},{"name":"reconcile-period","description":"Registry resource `reconcile-period` → `controllers/GRPC/Accounting/reconcilePeriod.grpc`."},{"name":"recurringBill","description":"Registry resource `recurringBill` → `controllers/GRPC/Accounting/recurringBill.grpc`."},{"name":"recurringInvoice","description":"Registry resource `recurringInvoice` → `controllers/GRPC/Accounting/recurringInvoiceTemplate.grpc`."},{"name":"recurringInvoiceAttachment","description":"Registry resource `recurringInvoiceAttachment` → `controllers/GRPC/Accounting/recurringInvoiceAttachment.grpc`."},{"name":"recurringInvoiceLineItem","description":"Registry resource `recurringInvoiceLineItem` → `controllers/GRPC/Accounting/recurringInvoiceLineItem.grpc`."},{"name":"recurringInvoiceLog","description":"Registry resource `recurringInvoiceLog` → `controllers/GRPC/Accounting/recurringInvoiceLog.grpc`."},{"name":"revenueByCustomer","description":"Registry resource `revenueByCustomer` → `controllers/GRPC/Accounting/reports/revenueByCustomer.grpc`."},{"name":"rfq","description":"Registry resource `rfq` → `controllers/GRPC/Accounting/rfq.grpc`."},{"name":"salesCreditNote","description":"Registry resource `salesCreditNote` → `controllers/GRPC/Accounting/salesCreditNote.grpc`."},{"name":"salesCreditNoteLine","description":"Registry resource `salesCreditNoteLine` → `controllers/GRPC/Accounting/salesCreditNoteLine.grpc`."},{"name":"salesOrder","description":"Registry resource `salesOrder` → `controllers/GRPC/Accounting/salesOrder.grpc`."},{"name":"salesOrderLine","description":"Registry resource `salesOrderLine` → `controllers/GRPC/Accounting/salesOrderLine.grpc`."},{"name":"taxation","description":"Registry resource `taxation` → `controllers/GRPC/Accounting/taxation.grpc`."},{"name":"transaction","description":"Registry resource `transaction` → `controllers/GRPC/Accounting/transaction.grpc`."},{"name":"transactionCategorizationIteration","description":"Registry resource `transactionCategorizationIteration` → `controllers/GRPC/Accounting/transactionCategorizationIteration.grpc`."},{"name":"transactionLine","description":"Registry resource `transactionLine` → `controllers/GRPC/Accounting/transactionLine.grpc`."},{"name":"transfer","description":"Registry resource `transfer` → `controllers/GRPC/Accounting/transfer.grpc`."},{"name":"trialBalance","description":"Registry resource `trialBalance` → `controllers/GRPC/Accounting/reports/trialBalance.grpc`."},{"name":"vendor","description":"Registry resource `vendor` → `controllers/GRPC/Accounting/vendor.grpc`."},{"name":"vendorAddress","description":"Registry resource `vendorAddress` → `controllers/GRPC/Accounting/vendorAddress.grpc`."},{"name":"vendorBalance","description":"Registry resource `vendorBalance` → `controllers/GRPC/Accounting/vendorBalance.grpc`."},{"name":"vendorContactPersons","description":"Registry resource `vendorContactPersons` → `controllers/GRPC/Accounting/vendorContactPerson.grpc`."},{"name":"vendorCreditCard","description":"Registry resource `vendorCreditCard` → `controllers/GRPC/Accounting/vendorCreditCard.grpc`."},{"name":"vendorDebitCard","description":"Registry resource `vendorDebitCard` → `controllers/GRPC/Accounting/vendorDebitCard.grpc`."},{"name":"vendorGroup","description":"Registry resource `vendorGroup` → `controllers/GRPC/Accounting/vendorGroup.grpc`."},{"name":"vendorPrepayment","description":"Registry resource `vendorPrepayment` → `controllers/GRPC/Accounting/vendorPrepayment.grpc`."},{"name":"vendorPrepaymentApplication","description":"Registry resource `vendorPrepaymentApplication` → `controllers/GRPC/Accounting/vendorPrepaymentApplication.grpc`."},{"name":"vendorPrepaymentRecurringLink","description":"Registry resource `vendorPrepaymentRecurringLink` → `controllers/GRPC/Accounting/vendorPrepaymentRecurringLink.grpc`."},{"name":"vendorPrepaymentRefund","description":"Registry resource `vendorPrepaymentRefund` → `controllers/GRPC/Accounting/vendorPrepaymentRefund.grpc`."},{"name":"vendorPrepaymentSchedule","description":"Registry resource `vendorPrepaymentSchedule` → `controllers/GRPC/Accounting/vendorPrepaymentSchedule.grpc`."}],"paths":{"/health":{"get":{"operationId":"healthCheck","summary":"Liveness probe","description":"Returns `{ ok: true, ts: <epoch ms> }`. Still behind the bearer token — there is no anonymous endpoint on this gateway. Excluded from AI-credit metering.\n\nDECLARED FIELD-CONTRACT GAP: this route is listed in `UNCONTRACTED_ROUTE_PREFIXES` in `middlewares/publicApiSerialize.middleware.js`. The response field allowlist does not apply to it; only the deny-key floor does. It is named here rather than omitted.","tags":["service"],"security":[{"marketplaceOAuth2":[]}],"responses":{"200":{"description":"Success.","headers":{"RateLimit":{"description":"RFC 9651 draft-8 structured field, e.g. `\"default\"; r=118; t=41` — remaining requests and seconds until the window resets.","schema":{"type":"string"}},"RateLimit-Policy":{"description":"Draft-8 policy, e.g. `\"default\"; q=120; w=60; pk=:mkt:<clientId>:<installId>:` — quota, window in seconds, and the partition key the quota is counted against.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"ts":{"type":"integer"}},"required":["ok","ts"],"additionalProperties":false}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-hellobooks-source":"hand-written","x-hellobooks-field-contract":"declared-gap","x-hellobooks-tenant-guard":false,"x-hellobooks-required-scopes":[],"x-hellobooks-scope-grain":"unguarded"}},"/me":{"get":{"operationId":"getInstallContext","summary":"Describe the calling install","description":"Echoes the install the token is bound to. This is the only way a client can discover which `orgId` / `entityId` its token may use — every other route requires them in the path and 403s on a mismatch. Excluded from AI-credit metering.\n\nDECLARED FIELD-CONTRACT GAP: this route is listed in `UNCONTRACTED_ROUTE_PREFIXES` in `middlewares/publicApiSerialize.middleware.js`. The response field allowlist does not apply to it; only the deny-key floor does. It is named here rather than omitted.","tags":["service"],"security":[{"marketplaceOAuth2":[]}],"responses":{"200":{"description":"Success.","headers":{"RateLimit":{"description":"RFC 9651 draft-8 structured field, e.g. `\"default\"; r=118; t=41` — remaining requests and seconds until the window resets.","schema":{"type":"string"}},"RateLimit-Policy":{"description":"Draft-8 policy, e.g. `\"default\"; q=120; w=60; pk=:mkt:<clientId>:<installId>:` — quota, window in seconds, and the partition key the quota is counted against.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"install_id":{"type":"string"},"client_id":{"type":"string"},"app_slug":{"type":"string"},"org_ref_id":{"type":"string"},"entity_ref_id":{"type":"string"},"scopes":{"type":"array","items":{"type":"string"}}},"additionalProperties":false}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-hellobooks-source":"hand-written","x-hellobooks-field-contract":"declared-gap","x-hellobooks-tenant-guard":false,"x-hellobooks-required-scopes":[],"x-hellobooks-scope-grain":"unguarded"}},"/orgs/{orgId}/entities/{entityId}/account":{"get":{"operationId":"listAccount","summary":"List account records","description":"Mounted by the generic resource factory in `routes/publicApi.routes.js` from the registry row `account` in `routes/publicApi.resources.js`. The request is delegated to the SAME internal controller a signed-in user hits (`controllers/GRPC/Accounting/account.grpc` → `getAccounts`), so it inherits that controller's validation, server-side tax computation and audit trail. Guards applied, in order: bearer token (`marketplace_app` audience) → plan API-access entitlement → rate limit → AI-credit metering → permission context of the installing user → tenant path match → `requireScope(\"accounting:read\")`.","tags":["account"],"security":[{"marketplaceOAuth2":["accounting:read"]},{"marketplaceOAuth2":["book:read"]}],"parameters":[{"$ref":"#/components/parameters/orgId"},{"$ref":"#/components/parameters/entityId"},{"$ref":"#/components/parameters/isArchived"}],"responses":{"200":{"description":"Success. Note that these controllers return 200 with a failure message in some paths rather than a 4xx; check the body.","headers":{"RateLimit":{"description":"RFC 9651 draft-8 structured field, e.g. `\"default\"; r=118; t=41` — remaining requests and seconds until the window resets.","schema":{"type":"string"}},"RateLimit-Policy":{"description":"Draft-8 policy, e.g. `\"default\"; q=120; w=60; pk=:mkt:<clientId>:<installId>:` — quota, window in seconds, and the partition key the quota is counted against.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessEnvelope"},{"type":"object","properties":{"data":{"description":"Present only on the controllers that use the `data` key. When present it holds the collection.","type":"array","items":{"$ref":"#/components/schemas/Account"}}}}],"description":"The payload is a collection of `Account` records. It is returned under a resource-named top-level key chosen by the internal controller (`accounts`, `bills`, `transactions`, …), NOT reliably under a fixed envelope field — see SuccessEnvelope. Which key this particular controller uses is not yet described; that arrives with the field contract.","x-hellobooks-payload":{"cardinality":"collection","record":"#/components/schemas/Account"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-hellobooks-source":"factory","x-hellobooks-controller":"controllers/GRPC/Accounting/account.grpc","x-hellobooks-handler":"getAccounts","x-hellobooks-registry-verb":"list","x-hellobooks-scope-grain":"granular","x-hellobooks-required-scopes":["accounting:read"],"x-hellobooks-scope-domain":"accounting"},"post":{"operationId":"createAccount","summary":"Create account record(s)","description":"Mounted by the generic resource factory in `routes/publicApi.routes.js` from the registry row `account` in `routes/publicApi.resources.js`. The request is delegated to the SAME internal controller a signed-in user hits (`controllers/GRPC/Accounting/account.grpc` → `createAccounts`), so it inherits that controller's validation, server-side tax computation and audit trail. Guards applied, in order: bearer token (`marketplace_app` audience) → plan API-access entitlement → rate limit → AI-credit metering → permission context of the installing user → tenant path match → `requireScope(\"accounting:write\")`.","tags":["account"],"security":[{"marketplaceOAuth2":["accounting:write"]},{"marketplaceOAuth2":["book:write"]}],"parameters":[{"$ref":"#/components/parameters/orgId"},{"$ref":"#/components/parameters/entityId"}],"responses":{"200":{"description":"Success. Note that these controllers return 200 with a failure message in some paths rather than a 4xx; check the body.","headers":{"RateLimit":{"description":"RFC 9651 draft-8 structured field, e.g. `\"default\"; r=118; t=41` — remaining requests and seconds until the window resets.","schema":{"type":"string"}},"RateLimit-Policy":{"description":"Draft-8 policy, e.g. `\"default\"; q=120; w=60; pk=:mkt:<clientId>:<installId>:` — quota, window in seconds, and the partition key the quota is counted against.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessEnvelope"},{"type":"object","properties":{"data":{"description":"Present only on the controllers that use the `data` key. When present it holds the record.","$ref":"#/components/schemas/Account"}}}],"description":"The payload is a single `Account` records. It is returned under a resource-named top-level key chosen by the internal controller (`accounts`, `bills`, `transactions`, …), NOT reliably under a fixed envelope field — see SuccessEnvelope. Which key this particular controller uses is not yet described; that arrives with the field contract.","x-hellobooks-payload":{"cardinality":"single","record":"#/components/schemas/Account"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-hellobooks-source":"factory","x-hellobooks-controller":"controllers/GRPC/Accounting/account.grpc","x-hellobooks-handler":"createAccounts","x-hellobooks-registry-verb":"create","x-hellobooks-scope-grain":"granular","x-hellobooks-required-scopes":["accounting:write"],"x-hellobooks-scope-domain":"accounting","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"properties":{"AccountNumber":{"type":"string"},"AccountSubType":{"type":"string"},"AccountType":{"type":"string"},"ArrayAccountId":{"type":"string"},"ArrayLinkId":{"type":"string"},"BankName":{"type":"string"},"CashFlowCategory":{"type":"string"},"Classification":{"type":"string"},"Code":{"type":"string"},"CurrencyRef":{"type":"string"},"Description":{"type":"string"},"EquityPurpose":{"type":"string"},"ExchangeRate":{"type":"number"},"FxSource":{"type":"string"},"HboId":{"type":"string"},"IsArchived":{"type":"boolean"},"IsArrayAccount":{"type":"boolean"},"IsAutoGenerated":{"type":"boolean"},"IsDiscontinued":{"type":"boolean"},"IsFavorite":{"type":"boolean"},"IsInternalTrf":{"type":"boolean"},"IsParentAccount":{"type":"boolean"},"IsPlaidAccount":{"type":"boolean"},"IsSystemDefined":{"type":"boolean"},"LastEditedSystem":{"type":"string"},"MigrationBatchId":{"type":"string"},"Name":{"type":"string"},"OdooId":{"type":"integer"},"OdooLinkedAt":{"type":"string"},"OdooModel":{"type":"string"},"OdooWriteDate":{"type":"string"},"OriginId":{"type":"string"},"OriginSystem":{"type":"string"},"ParentAccountRefId":{"type":"string"},"PlaidAccountId":{"type":"string"},"PlaidAvailableBalance":{"type":"number"},"PlaidBalanceAsOf":{"type":"string"},"PlaidBalanceCurrency":{"type":"string"},"PlaidCurrentBalance":{"type":"number"},"PlaidItemId":{"type":"string"},"QboId":{"type":"string"},"QboLinkedAt":{"type":"string"},"QboRealmId":{"type":"string"},"QboSyncToken":{"type":"string"},"StatutoryGroup":{"type":"string"},"SyncVersion":{"type":"integer"},"SystemRole":{"type":"string"},"TallyClosingBalance":{"type":"number"},"TallyDepth":{"type":"integer"},"TallyExtras":{"type":"object"},"TallyGroupPath":{"type":"string"},"TallyGuid":{"type":"string"},"TallyLedgerName":{"type":"string"},"TallyOpeningBalance":{"type":"number"},"TallyParentGroup":{"type":"string"},"TallyPrimaryGroup":{"type":"string"},"TaxComponentRefId":{"type":"string"},"TaxComponentType":{"type":"string"},"TaxDirection":{"type":"string"},"TaxRef":{"type":"string"},"WaveBusinessId":{"type":"string"},"WaveId":{"type":"string"},"WaveLinkedAt":{"type":"string"},"XeroId":{"type":"string"},"XeroLinkedAt":{"type":"string"},"XeroTenantId":{"type":"string"},"XeroUpdatedDateUTC":{"type":"string"}},"description":"Writable fields for `account`, from the published field contract.","x-hellobooks-field-contract":"published"}}}}},"put":{"operationId":"updateAccount","summary":"Update account record(s)","description":"Mounted by the generic resource factory in `routes/publicApi.routes.js` from the registry row `account` in `routes/publicApi.resources.js`. The request is delegated to the SAME internal controller a signed-in user hits (`controllers/GRPC/Accounting/account.grpc` → `updateAccounts`), so it inherits that controller's validation, server-side tax computation and audit trail. Guards applied, in order: bearer token (`marketplace_app` audience) → plan API-access entitlement → rate limit → AI-credit metering → permission context of the installing user → tenant path match → `requireScope(\"accounting:write\")`.","tags":["account"],"security":[{"marketplaceOAuth2":["accounting:write"]},{"marketplaceOAuth2":["book:write"]}],"parameters":[{"$ref":"#/components/parameters/orgId"},{"$ref":"#/components/parameters/entityId"}],"responses":{"200":{"description":"Success. Note that these controllers return 200 with a failure message in some paths rather than a 4xx; check the body.","headers":{"RateLimit":{"description":"RFC 9651 draft-8 structured field, e.g. `\"default\"; r=118; t=41` — remaining requests and seconds until the window resets.","schema":{"type":"string"}},"RateLimit-Policy":{"description":"Draft-8 policy, e.g. `\"default\"; q=120; w=60; pk=:mkt:<clientId>:<installId>:` — quota, window in seconds, and the partition key the quota is counted against.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessEnvelope"},{"type":"object","properties":{"data":{"description":"Present only on the controllers that use the `data` key. When present it holds the record.","$ref":"#/components/schemas/Account"}}}],"description":"The payload is a single `Account` records. It is returned under a resource-named top-level key chosen by the internal controller (`accounts`, `bills`, `transactions`, …), NOT reliably under a fixed envelope field — see SuccessEnvelope. Which key this particular controller uses is not yet described; that arrives with the field contract.","x-hellobooks-payload":{"cardinality":"single","record":"#/components/schemas/Account"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-hellobooks-source":"factory","x-hellobooks-controller":"controllers/GRPC/Accounting/account.grpc","x-hellobooks-handler":"updateAccounts","x-hellobooks-registry-verb":"update","x-hellobooks-scope-grain":"granular","x-hellobooks-required-scopes":["accounting:write"],"x-hellobooks-scope-domain":"accounting","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"properties":{"AccountNumber":{"type":"string"},"AccountSubType":{"type":"string"},"AccountType":{"type":"string"},"ArrayAccountId":{"type":"string"},"ArrayLinkId":{"type":"string"},"BankName":{"type":"string"},"CashFlowCategory":{"type":"string"},"Classification":{"type":"string"},"Code":{"type":"string"},"CurrencyRef":{"type":"string"},"Description":{"type":"string"},"EquityPurpose":{"type":"string"},"ExchangeRate":{"type":"number"},"FxSource":{"type":"string"},"HboId":{"type":"string"},"IsArchived":{"type":"boolean"},"IsArrayAccount":{"type":"boolean"},"IsAutoGenerated":{"type":"boolean"},"IsDiscontinued":{"type":"boolean"},"IsFavorite":{"type":"boolean"},"IsInternalTrf":{"type":"boolean"},"IsParentAccount":{"type":"boolean"},"IsPlaidAccount":{"type":"boolean"},"IsSystemDefined":{"type":"boolean"},"LastEditedSystem":{"type":"string"},"MigrationBatchId":{"type":"string"},"Name":{"type":"string"},"OdooId":{"type":"integer"},"OdooLinkedAt":{"type":"string"},"OdooModel":{"type":"string"},"OdooWriteDate":{"type":"string"},"OriginId":{"type":"string"},"OriginSystem":{"type":"string"},"ParentAccountRefId":{"type":"string"},"PlaidAccountId":{"type":"string"},"PlaidAvailableBalance":{"type":"number"},"PlaidBalanceAsOf":{"type":"string"},"PlaidBalanceCurrency":{"type":"string"},"PlaidCurrentBalance":{"type":"number"},"PlaidItemId":{"type":"string"},"QboId":{"type":"string"},"QboLinkedAt":{"type":"string"},"QboRealmId":{"type":"string"},"QboSyncToken":{"type":"string"},"StatutoryGroup":{"type":"string"},"SyncVersion":{"type":"integer"},"SystemRole":{"type":"string"},"TallyClosingBalance":{"type":"number"},"TallyDepth":{"type":"integer"},"TallyExtras":{"type":"object"},"TallyGroupPath":{"type":"string"},"TallyGuid":{"type":"string"},"TallyLedgerName":{"type":"string"},"TallyOpeningBalance":{"type":"number"},"TallyParentGroup":{"type":"string"},"TallyPrimaryGroup":{"type":"string"},"TaxComponentRefId":{"type":"string"},"TaxComponentType":{"type":"string"},"TaxDirection":{"type":"string"},"TaxRef":{"type":"string"},"WaveBusinessId":{"type":"string"},"WaveId":{"type":"string"},"WaveLinkedAt":{"type":"string"},"XeroId":{"type":"string"},"XeroLinkedAt":{"type":"string"},"XeroTenantId":{"type":"string"},"XeroUpdatedDateUTC":{"type":"string"}},"description":"Writable fields for `account`, from the published field contract.","x-hellobooks-field-contract":"published"}}}}},"delete":{"operationId":"deleteAccount","summary":"Delete account record(s)","description":"Mounted by the generic resource factory in `routes/publicApi.routes.js` from the registry row `account` in `routes/publicApi.resources.js`. The request is delegated to the SAME internal controller a signed-in user hits (`controllers/GRPC/Accounting/account.grpc` → `deleteAccounts`), so it inherits that controller's validation, server-side tax computation and audit trail. Guards applied, in order: bearer token (`marketplace_app` audience) → plan API-access entitlement → rate limit → AI-credit metering → permission context of the installing user → tenant path match → `requireScope(\"accounting:write\")`.","tags":["account"],"security":[{"marketplaceOAuth2":["accounting:write"]},{"marketplaceOAuth2":["book:write"]}],"parameters":[{"$ref":"#/components/parameters/orgId"},{"$ref":"#/components/parameters/entityId"}],"responses":{"200":{"description":"Success. Note that these controllers return 200 with a failure message in some paths rather than a 4xx; check the body.","headers":{"RateLimit":{"description":"RFC 9651 draft-8 structured field, e.g. `\"default\"; r=118; t=41` — remaining requests and seconds until the window resets.","schema":{"type":"string"}},"RateLimit-Policy":{"description":"Draft-8 policy, e.g. `\"default\"; q=120; w=60; pk=:mkt:<clientId>:<installId>:` — quota, window in seconds, and the partition key the quota is counted against.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessEnvelope"},{"type":"object","properties":{"data":{"description":"Present only on the controllers that use the `data` key. When present it holds the record.","$ref":"#/components/schemas/Account"}}}],"description":"The payload is a single `Account` records. It is returned under a resource-named top-level key chosen by the internal controller (`accounts`, `bills`, `transactions`, …), NOT reliably under a fixed envelope field — see SuccessEnvelope. Which key this particular controller uses is not yet described; that arrives with the field contract.","x-hellobooks-payload":{"cardinality":"single","record":"#/components/schemas/Account"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-hellobooks-source":"factory","x-hellobooks-controller":"controllers/GRPC/Accounting/account.grpc","x-hellobooks-handler":"deleteAccounts","x-hellobooks-registry-verb":"del","x-hellobooks-scope-grain":"granular","x-hellobooks-required-scopes":["accounting:write"],"x-hellobooks-scope-domain":"accounting","requestBody":{"required":true,"description":"This DELETE carries a request body — the registry's delete handlers are body-based, not id-in-path. That is unusual and is described because it is what the route actually does.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"properties":{"AccountNumber":{"type":"string"},"AccountSubType":{"type":"string"},"AccountType":{"type":"string"},"ArrayAccountId":{"type":"string"},"ArrayLinkId":{"type":"string"},"BankName":{"type":"string"},"CashFlowCategory":{"type":"string"},"Classification":{"type":"string"},"Code":{"type":"string"},"CurrencyRef":{"type":"string"},"Description":{"type":"string"},"EquityPurpose":{"type":"string"},"ExchangeRate":{"type":"number"},"FxSource":{"type":"string"},"HboId":{"type":"string"},"IsArchived":{"type":"boolean"},"IsArrayAccount":{"type":"boolean"},"IsAutoGenerated":{"type":"boolean"},"IsDiscontinued":{"type":"boolean"},"IsFavorite":{"type":"boolean"},"IsInternalTrf":{"type":"boolean"},"IsParentAccount":{"type":"boolean"},"IsPlaidAccount":{"type":"boolean"},"IsSystemDefined":{"type":"boolean"},"LastEditedSystem":{"type":"string"},"MigrationBatchId":{"type":"string"},"Name":{"type":"string"},"OdooId":{"type":"integer"},"OdooLinkedAt":{"type":"string"},"OdooModel":{"type":"string"},"OdooWriteDate":{"type":"string"},"OriginId":{"type":"string"},"OriginSystem":{"type":"string"},"ParentAccountRefId":{"type":"string"},"PlaidAccountId":{"type":"string"},"PlaidAvailableBalance":{"type":"number"},"PlaidBalanceAsOf":{"type":"string"},"PlaidBalanceCurrency":{"type":"string"},"PlaidCurrentBalance":{"type":"number"},"PlaidItemId":{"type":"string"},"QboId":{"type":"string"},"QboLinkedAt":{"type":"string"},"QboRealmId":{"type":"string"},"QboSyncToken":{"type":"string"},"StatutoryGroup":{"type":"string"},"SyncVersion":{"type":"integer"},"SystemRole":{"type":"string"},"TallyClosingBalance":{"type":"number"},"TallyDepth":{"type":"integer"},"TallyExtras":{"type":"object"},"TallyGroupPath":{"type":"string"},"TallyGuid":{"type":"string"},"TallyLedgerName":{"type":"string"},"TallyOpeningBalance":{"type":"number"},"TallyParentGroup":{"type":"string"},"TallyPrimaryGroup":{"type":"string"},"TaxComponentRefId":{"type":"string"},"TaxComponentType":{"type":"string"},"TaxDirection":{"type":"string"},"TaxRef":{"type":"string"},"WaveBusinessId":{"type":"string"},"WaveId":{"type":"string"},"WaveLinkedAt":{"type":"string"},"XeroId":{"type":"string"},"XeroLinkedAt":{"type":"string"},"XeroTenantId":{"type":"string"},"XeroUpdatedDateUTC":{"type":"string"}},"description":"Writable fields for `account`, from the published field contract.","x-hellobooks-field-contract":"published"}}}}}},"/orgs/{orgId}/entities/{entityId}/account/restore":{"put":{"operationId":"restoreAccount","summary":"Restore archived account record(s)","description":"Mounted by the generic resource factory in `routes/publicApi.routes.js` from the registry row `account` in `routes/publicApi.resources.js`. The request is delegated to the SAME internal controller a signed-in user hits (`controllers/GRPC/Accounting/account.grpc` → `restoreAccounts`), so it inherits that controller's validation, server-side tax computation and audit trail. Guards applied, in order: bearer token (`marketplace_app` audience) → plan API-access entitlement → rate limit → AI-credit metering → permission context of the installing user → tenant path match → `requireScope(\"accounting:write\")`.","tags":["account"],"security":[{"marketplaceOAuth2":["accounting:write"]},{"marketplaceOAuth2":["book:write"]}],"parameters":[{"$ref":"#/components/parameters/orgId"},{"$ref":"#/components/parameters/entityId"}],"responses":{"200":{"description":"Success. Note that these controllers return 200 with a failure message in some paths rather than a 4xx; check the body.","headers":{"RateLimit":{"description":"RFC 9651 draft-8 structured field, e.g. `\"default\"; r=118; t=41` — remaining requests and seconds until the window resets.","schema":{"type":"string"}},"RateLimit-Policy":{"description":"Draft-8 policy, e.g. `\"default\"; q=120; w=60; pk=:mkt:<clientId>:<installId>:` — quota, window in seconds, and the partition key the quota is counted against.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessEnvelope"},{"type":"object","properties":{"data":{"description":"Present only on the controllers that use the `data` key. When present it holds the record.","$ref":"#/components/schemas/Account"}}}],"description":"The payload is a single `Account` records. It is returned under a resource-named top-level key chosen by the internal controller (`accounts`, `bills`, `transactions`, …), NOT reliably under a fixed envelope field — see SuccessEnvelope. Which key this particular controller uses is not yet described; that arrives with the field contract.","x-hellobooks-payload":{"cardinality":"single","record":"#/components/schemas/Account"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-hellobooks-source":"factory","x-hellobooks-controller":"controllers/GRPC/Accounting/account.grpc","x-hellobooks-handler":"restoreAccounts","x-hellobooks-registry-verb":"restore","x-hellobooks-scope-grain":"granular","x-hellobooks-required-scopes":["accounting:write"],"x-hellobooks-scope-domain":"accounting","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"properties":{"AccountNumber":{"type":"string"},"AccountSubType":{"type":"string"},"AccountType":{"type":"string"},"ArrayAccountId":{"type":"string"},"ArrayLinkId":{"type":"string"},"BankName":{"type":"string"},"CashFlowCategory":{"type":"string"},"Classification":{"type":"string"},"Code":{"type":"string"},"CurrencyRef":{"type":"string"},"Description":{"type":"string"},"EquityPurpose":{"type":"string"},"ExchangeRate":{"type":"number"},"FxSource":{"type":"string"},"HboId":{"type":"string"},"IsArchived":{"type":"boolean"},"IsArrayAccount":{"type":"boolean"},"IsAutoGenerated":{"type":"boolean"},"IsDiscontinued":{"type":"boolean"},"IsFavorite":{"type":"boolean"},"IsInternalTrf":{"type":"boolean"},"IsParentAccount":{"type":"boolean"},"IsPlaidAccount":{"type":"boolean"},"IsSystemDefined":{"type":"boolean"},"LastEditedSystem":{"type":"string"},"MigrationBatchId":{"type":"string"},"Name":{"type":"string"},"OdooId":{"type":"integer"},"OdooLinkedAt":{"type":"string"},"OdooModel":{"type":"string"},"OdooWriteDate":{"type":"string"},"OriginId":{"type":"string"},"OriginSystem":{"type":"string"},"ParentAccountRefId":{"type":"string"},"PlaidAccountId":{"type":"string"},"PlaidAvailableBalance":{"type":"number"},"PlaidBalanceAsOf":{"type":"string"},"PlaidBalanceCurrency":{"type":"string"},"PlaidCurrentBalance":{"type":"number"},"PlaidItemId":{"type":"string"},"QboId":{"type":"string"},"QboLinkedAt":{"type":"string"},"QboRealmId":{"type":"string"},"QboSyncToken":{"type":"string"},"StatutoryGroup":{"type":"string"},"SyncVersion":{"type":"integer"},"SystemRole":{"type":"string"},"TallyClosingBalance":{"type":"number"},"TallyDepth":{"type":"integer"},"TallyExtras":{"type":"object"},"TallyGroupPath":{"type":"string"},"TallyGuid":{"type":"string"},"TallyLedgerName":{"type":"string"},"TallyOpeningBalance":{"type":"number"},"TallyParentGroup":{"type":"string"},"TallyPrimaryGroup":{"type":"string"},"TaxComponentRefId":{"type":"string"},"TaxComponentType":{"type":"string"},"TaxDirection":{"type":"string"},"TaxRef":{"type":"string"},"WaveBusinessId":{"type":"string"},"WaveId":{"type":"string"},"WaveLinkedAt":{"type":"string"},"XeroId":{"type":"string"},"XeroLinkedAt":{"type":"string"},"XeroTenantId":{"type":"string"},"XeroUpdatedDateUTC":{"type":"string"}},"description":"Writable fields for `account`, from the published field contract.","x-hellobooks-field-contract":"published"}}}}}},"/orgs/{orgId}/entities/{entityId}/account/{id}":{"get":{"operationId":"getAccount","summary":"Fetch one account record by id","description":"Mounted by the generic resource factory in `routes/publicApi.routes.js` from the registry row `account` in `routes/publicApi.resources.js`. The request is delegated to the SAME internal controller a signed-in user hits (`controllers/GRPC/Accounting/account.grpc` → `getAccountById`), so it inherits that controller's validation, server-side tax computation and audit trail. Guards applied, in order: bearer token (`marketplace_app` audience) → plan API-access entitlement → rate limit → AI-credit metering → permission context of the installing user → tenant path match → `requireScope(\"accounting:read\")`.","tags":["account"],"security":[{"marketplaceOAuth2":["accounting:read"]},{"marketplaceOAuth2":["book:read"]}],"parameters":[{"$ref":"#/components/parameters/orgId"},{"$ref":"#/components/parameters/entityId"},{"$ref":"#/components/parameters/resourceId"}],"responses":{"200":{"description":"Success. Note that these controllers return 200 with a failure message in some paths rather than a 4xx; check the body.","headers":{"RateLimit":{"description":"RFC 9651 draft-8 structured field, e.g. `\"default\"; r=118; t=41` — remaining requests and seconds until the window resets.","schema":{"type":"string"}},"RateLimit-Policy":{"description":"Draft-8 policy, e.g. `\"default\"; q=120; w=60; pk=:mkt:<clientId>:<installId>:` — quota, window in seconds, and the partition key the quota is counted against.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessEnvelope"},{"type":"object","properties":{"data":{"description":"Present only on the controllers that use the `data` key. When present it holds the record.","$ref":"#/components/schemas/Account"}}}],"description":"The payload is a single `Account` records. It is returned under a resource-named top-level key chosen by the internal controller (`accounts`, `bills`, `transactions`, …), NOT reliably under a fixed envelope field — see SuccessEnvelope. Which key this particular controller uses is not yet described; that arrives with the field contract.","x-hellobooks-payload":{"cardinality":"single","record":"#/components/schemas/Account"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-hellobooks-source":"factory","x-hellobooks-controller":"controllers/GRPC/Accounting/account.grpc","x-hellobooks-handler":"getAccountById","x-hellobooks-registry-verb":"readOne","x-hellobooks-scope-grain":"granular","x-hellobooks-required-scopes":["accounting:read"],"x-hellobooks-scope-domain":"accounting"}},"/orgs/{orgId}/entities/{entityId}/accountsByPayee":{"get":{"operationId":"listAccountsByPayee","summary":"List accountsByPayee records","description":"Mounted by the generic resource factory in `routes/publicApi.routes.js` from the registry row `accountsByPayee` in `routes/publicApi.resources.js`. The request is delegated to the SAME internal controller a signed-in user hits (`controllers/GRPC/Accounting/accountsByPayee.grpc` → `getAccountsByAllPayee`), so it inherits that controller's validation, server-side tax computation and audit trail. Guards applied, in order: bearer token (`marketplace_app` audience) → plan API-access entitlement → rate limit → AI-credit metering → permission context of the installing user → tenant path match → `requireScope(\"banking:read\")`.","tags":["accountsByPayee"],"security":[{"marketplaceOAuth2":["banking:read"]},{"marketplaceOAuth2":["book:read"]}],"parameters":[{"$ref":"#/components/parameters/orgId"},{"$ref":"#/components/parameters/entityId"},{"$ref":"#/components/parameters/isArchived"}],"responses":{"200":{"description":"Success. Note that these controllers return 200 with a failure message in some paths rather than a 4xx; check the body.","headers":{"RateLimit":{"description":"RFC 9651 draft-8 structured field, e.g. `\"default\"; r=118; t=41` — remaining requests and seconds until the window resets.","schema":{"type":"string"}},"RateLimit-Policy":{"description":"Draft-8 policy, e.g. `\"default\"; q=120; w=60; pk=:mkt:<clientId>:<installId>:` — quota, window in seconds, and the partition key the quota is counted against.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessEnvelope"},{"type":"object","properties":{"data":{"description":"Present only on the controllers that use the `data` key. When present it holds the collection.","type":"array","items":{"$ref":"#/components/schemas/AccountsByPayee"}}}}],"description":"The payload is a collection of `AccountsByPayee` records. It is returned under a resource-named top-level key chosen by the internal controller (`accounts`, `bills`, `transactions`, …), NOT reliably under a fixed envelope field — see SuccessEnvelope. Which key this particular controller uses is not yet described; that arrives with the field contract.","x-hellobooks-payload":{"cardinality":"collection","record":"#/components/schemas/AccountsByPayee"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-hellobooks-source":"factory","x-hellobooks-controller":"controllers/GRPC/Accounting/accountsByPayee.grpc","x-hellobooks-handler":"getAccountsByAllPayee","x-hellobooks-registry-verb":"list","x-hellobooks-scope-grain":"granular","x-hellobooks-required-scopes":["banking:read"],"x-hellobooks-scope-domain":"banking"}},"/orgs/{orgId}/entities/{entityId}/agedPayables":{"get":{"operationId":"listAgedPayables","summary":"List agedPayables records","description":"Mounted by the generic resource factory in `routes/publicApi.routes.js` from the registry row `agedPayables` in `routes/publicApi.resources.js`. The request is delegated to the SAME internal controller a signed-in user hits (`controllers/GRPC/Accounting/agedPayables.grpc` → `getAgedPayables`), so it inherits that controller's validation, server-side tax computation and audit trail. Guards applied, in order: bearer token (`marketplace_app` audience) → plan API-access entitlement → rate limit → AI-credit metering → permission context of the installing user → tenant path match → `requireScope(\"reports:read\")`.","tags":["agedPayables"],"security":[{"marketplaceOAuth2":["reports:read"]},{"marketplaceOAuth2":["book:read"]}],"parameters":[{"$ref":"#/components/parameters/orgId"},{"$ref":"#/components/parameters/entityId"},{"name":"asOfDate","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"periodType","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"customPeriods","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"dynamicConfig","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"agingBy","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"groupBy","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"sortBy","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"sortOrder","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"basis","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"includeZeroBalance","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"includeOnlyOverdue","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"currency","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"currencies","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"vendorStatus","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"billStatus","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"vendorIds","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"locationIds","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"projectIds","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"classSlices","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"compare","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"minTotal","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"maxTotal","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"minOverdue","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"maxOverdue","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"depth","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"topN","in":"query","required":false,"description":"Filter declared by the registry row `agedPayables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success. Note that these controllers return 200 with a failure message in some paths rather than a 4xx; check the body.","headers":{"RateLimit":{"description":"RFC 9651 draft-8 structured field, e.g. `\"default\"; r=118; t=41` — remaining requests and seconds until the window resets.","schema":{"type":"string"}},"RateLimit-Policy":{"description":"Draft-8 policy, e.g. `\"default\"; q=120; w=60; pk=:mkt:<clientId>:<installId>:` — quota, window in seconds, and the partition key the quota is counted against.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessEnvelope"},{"type":"object","properties":{"data":{"description":"Present only on the controllers that use the `data` key. When present it holds the collection.","type":"array","items":{"$ref":"#/components/schemas/AgedPayables"}}}}],"description":"The payload is a collection of `AgedPayables` records. It is returned under a resource-named top-level key chosen by the internal controller (`accounts`, `bills`, `transactions`, …), NOT reliably under a fixed envelope field — see SuccessEnvelope. Which key this particular controller uses is not yet described; that arrives with the field contract.","x-hellobooks-payload":{"cardinality":"collection","record":"#/components/schemas/AgedPayables"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-hellobooks-source":"factory","x-hellobooks-controller":"controllers/GRPC/Accounting/agedPayables.grpc","x-hellobooks-handler":"getAgedPayables","x-hellobooks-registry-verb":"list","x-hellobooks-scope-grain":"granular","x-hellobooks-required-scopes":["reports:read"],"x-hellobooks-scope-domain":"reports"}},"/orgs/{orgId}/entities/{entityId}/agedPayablesSummary":{"get":{"operationId":"listAgedPayablesSummary","summary":"List agedPayablesSummary records","description":"Mounted by the generic resource factory in `routes/publicApi.routes.js` from the registry row `agedPayablesSummary` in `routes/publicApi.resources.js`. The request is delegated to the SAME internal controller a signed-in user hits (`controllers/GRPC/Accounting/agedPayables.grpc` → `getAgedPayablesSummary`), so it inherits that controller's validation, server-side tax computation and audit trail. Guards applied, in order: bearer token (`marketplace_app` audience) → plan API-access entitlement → rate limit → AI-credit metering → permission context of the installing user → tenant path match → `requireScope(\"reports:read\")`.","tags":["agedPayablesSummary"],"security":[{"marketplaceOAuth2":["reports:read"]},{"marketplaceOAuth2":["book:read"]}],"parameters":[{"$ref":"#/components/parameters/orgId"},{"$ref":"#/components/parameters/entityId"},{"name":"asOfDate","in":"query","required":false,"description":"Filter declared by the registry row `agedPayablesSummary` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"currency","in":"query","required":false,"description":"Filter declared by the registry row `agedPayablesSummary` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"currencies","in":"query","required":false,"description":"Filter declared by the registry row `agedPayablesSummary` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"vendorStatus","in":"query","required":false,"description":"Filter declared by the registry row `agedPayablesSummary` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"billStatus","in":"query","required":false,"description":"Filter declared by the registry row `agedPayablesSummary` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"minTotal","in":"query","required":false,"description":"Filter declared by the registry row `agedPayablesSummary` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"maxTotal","in":"query","required":false,"description":"Filter declared by the registry row `agedPayablesSummary` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"minOverdue","in":"query","required":false,"description":"Filter declared by the registry row `agedPayablesSummary` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"maxOverdue","in":"query","required":false,"description":"Filter declared by the registry row `agedPayablesSummary` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedPayables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success. Note that these controllers return 200 with a failure message in some paths rather than a 4xx; check the body.","headers":{"RateLimit":{"description":"RFC 9651 draft-8 structured field, e.g. `\"default\"; r=118; t=41` — remaining requests and seconds until the window resets.","schema":{"type":"string"}},"RateLimit-Policy":{"description":"Draft-8 policy, e.g. `\"default\"; q=120; w=60; pk=:mkt:<clientId>:<installId>:` — quota, window in seconds, and the partition key the quota is counted against.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessEnvelope"},{"type":"object","properties":{"data":{"description":"Present only on the controllers that use the `data` key. When present it holds the collection.","type":"array","items":{"$ref":"#/components/schemas/AgedPayablesSummary"}}}}],"description":"The payload is a collection of `AgedPayablesSummary` records. It is returned under a resource-named top-level key chosen by the internal controller (`accounts`, `bills`, `transactions`, …), NOT reliably under a fixed envelope field — see SuccessEnvelope. Which key this particular controller uses is not yet described; that arrives with the field contract.","x-hellobooks-payload":{"cardinality":"collection","record":"#/components/schemas/AgedPayablesSummary"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-hellobooks-source":"factory","x-hellobooks-controller":"controllers/GRPC/Accounting/agedPayables.grpc","x-hellobooks-handler":"getAgedPayablesSummary","x-hellobooks-registry-verb":"list","x-hellobooks-scope-grain":"granular","x-hellobooks-required-scopes":["reports:read"],"x-hellobooks-scope-domain":"reports"}},"/orgs/{orgId}/entities/{entityId}/agedReceivables":{"get":{"operationId":"listAgedReceivables","summary":"List agedReceivables records","description":"Mounted by the generic resource factory in `routes/publicApi.routes.js` from the registry row `agedReceivables` in `routes/publicApi.resources.js`. The request is delegated to the SAME internal controller a signed-in user hits (`controllers/GRPC/Accounting/agedReceivables.grpc` → `getAgedReceivables`), so it inherits that controller's validation, server-side tax computation and audit trail. Guards applied, in order: bearer token (`marketplace_app` audience) → plan API-access entitlement → rate limit → AI-credit metering → permission context of the installing user → tenant path match → `requireScope(\"reports:read\")`.","tags":["agedReceivables"],"security":[{"marketplaceOAuth2":["reports:read"]},{"marketplaceOAuth2":["book:read"]}],"parameters":[{"$ref":"#/components/parameters/orgId"},{"$ref":"#/components/parameters/entityId"},{"name":"asOfDate","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"periodType","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"customPeriods","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"dynamicConfig","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"agingBy","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"groupBy","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"sortBy","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"sortOrder","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"basis","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"includeZeroBalance","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"includeOnlyOverdue","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"currency","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"currencies","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"customerStatus","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"invoiceStatus","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"customerIds","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"locationIds","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"projectIds","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"classSlices","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"compare","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"minTotal","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"maxTotal","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"minOverdue","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"maxOverdue","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"depth","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"topN","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivables` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success. Note that these controllers return 200 with a failure message in some paths rather than a 4xx; check the body.","headers":{"RateLimit":{"description":"RFC 9651 draft-8 structured field, e.g. `\"default\"; r=118; t=41` — remaining requests and seconds until the window resets.","schema":{"type":"string"}},"RateLimit-Policy":{"description":"Draft-8 policy, e.g. `\"default\"; q=120; w=60; pk=:mkt:<clientId>:<installId>:` — quota, window in seconds, and the partition key the quota is counted against.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessEnvelope"},{"type":"object","properties":{"data":{"description":"Present only on the controllers that use the `data` key. When present it holds the collection.","type":"array","items":{"$ref":"#/components/schemas/AgedReceivables"}}}}],"description":"The payload is a collection of `AgedReceivables` records. It is returned under a resource-named top-level key chosen by the internal controller (`accounts`, `bills`, `transactions`, …), NOT reliably under a fixed envelope field — see SuccessEnvelope. Which key this particular controller uses is not yet described; that arrives with the field contract.","x-hellobooks-payload":{"cardinality":"collection","record":"#/components/schemas/AgedReceivables"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-hellobooks-source":"factory","x-hellobooks-controller":"controllers/GRPC/Accounting/agedReceivables.grpc","x-hellobooks-handler":"getAgedReceivables","x-hellobooks-registry-verb":"list","x-hellobooks-scope-grain":"granular","x-hellobooks-required-scopes":["reports:read"],"x-hellobooks-scope-domain":"reports"}},"/orgs/{orgId}/entities/{entityId}/agedReceivablesSummary":{"get":{"operationId":"listAgedReceivablesSummary","summary":"List agedReceivablesSummary records","description":"Mounted by the generic resource factory in `routes/publicApi.routes.js` from the registry row `agedReceivablesSummary` in `routes/publicApi.resources.js`. The request is delegated to the SAME internal controller a signed-in user hits (`controllers/GRPC/Accounting/agedReceivables.grpc` → `getAgedReceivablesSummary`), so it inherits that controller's validation, server-side tax computation and audit trail. Guards applied, in order: bearer token (`marketplace_app` audience) → plan API-access entitlement → rate limit → AI-credit metering → permission context of the installing user → tenant path match → `requireScope(\"reports:read\")`.","tags":["agedReceivablesSummary"],"security":[{"marketplaceOAuth2":["reports:read"]},{"marketplaceOAuth2":["book:read"]}],"parameters":[{"$ref":"#/components/parameters/orgId"},{"$ref":"#/components/parameters/entityId"},{"name":"asOfDate","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivablesSummary` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"currency","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivablesSummary` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"currencies","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivablesSummary` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"customerStatus","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivablesSummary` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"invoiceStatus","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivablesSummary` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"minTotal","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivablesSummary` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"maxTotal","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivablesSummary` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"minOverdue","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivablesSummary` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}},{"name":"maxOverdue","in":"query","required":false,"description":"Filter declared by the registry row `agedReceivablesSummary` in routes/publicApi.resources.js and read by `controllers/GRPC/Accounting/agedReceivables.grpc`. Forwarded to the internal controller verbatim; the gateway applies no coercion of its own.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success. Note that these controllers return 200 with a failure message in some paths rather than a 4xx; check the body.","headers":{"RateLimit":{"description":"RFC 9651 draft-8 structured field, e.g. `\"default\"; r=118; t=41` — remaining requests and seconds until the window resets.","schema":{"type":"string"}},"RateLimit-Policy":{"description":"Draft-8 policy, e.g. `\"default\"; q=120; w=60; pk=:mkt:<clientId>:<installId>:` — quota, window in seconds, and the partition key the quota is counted against.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessEnvelope"},{"type":"object","properties":{"data":{"description":"Present only on the controllers that use the `data` key. When present it holds the collection.","type":"array","items":{"$ref":"#/components/schemas/AgedReceivablesSummary"}}}}],"description":"The payload is a collection of `AgedReceivablesSummary` records. It is returned under a resource-named top-level key chosen by the internal controller (`accounts`, `bills`, `transactions`, …), NOT reliably under a fixed envelope field — see SuccessEnvelope. Which key this particular controller uses is not yet described; that arrives with the field contract.","x-hellobooks-payload":{"cardinality":"collection","record":"#/components/schemas/AgedReceivablesSummary"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-hellobooks-source":"factory","x-hellobooks-controller":"controllers/GRPC/Accounting/agedReceivables.grpc","x-hellobooks-handler":"getAgedReceivablesSummary","x-hellobooks-registry-verb":"list","x-hellobooks-scope-grain":"granular","x-hellobooks-required-scopes":["reports:read"],"x-hellobooks-scope-domain":"reports"}},"/orgs/{orgId}/entities/{entityId}/approvalRule":{"get":{"operationId":"listApprovalRule","summary":"List approvalRule records","description":"Mounted by the generic resource factory in `routes/publicApi.routes.js` from the registry row `approvalRule` in `routes/publicApi.resources.js`. The request is delegated to the SAME internal controller a signed-in user hits (`controllers/GRPC/Accounting/approvalRule.grpc` → `listApprovalRules`), so it inherits that controller's validation, server-side tax computation and audit trail. Guards applied, in order: bearer token (`marketplace_app` audience) → plan API-access entitlement → rate limit → AI-credit metering → permission context of the installing user → tenant path match → `requireScope(\"purchases:read\")`.","tags":["approvalRule"],"security":[{"marketplaceOAuth2":["purchases:read"]},{"marketplaceOAuth2":["book:read"]}],"parameters":[{"$ref":"#/components/parameters/orgId"},{"$ref":"#/components/parameters/entityId"},{"$ref":"#/components/parameters/isArchived"}],"responses":{"200":{"description":"Success. Note that these controllers return 200 with a failure message in some paths rather than a 4xx; check the body.","headers":{"RateLimit":{"description":"RFC 9651 draft-8 structured field, e.g. `\"default\"; r=118; t=41` — remaining requests and seconds until the window resets.","schema":{"type":"string"}},"RateLimit-Policy":{"description":"Draft-8 policy, e.g. `\"default\"; q=120; w=60; pk=:mkt:<clientId>:<installId>:` — quota, window in seconds, and the partition key the quota is counted against.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessEnvelope"},{"type":"object","properties":{"data":{"description":"Present only on the controllers that use the `data` key. When present it holds the collection.","type":"array","items":{"$ref":"#/components/schemas/ApprovalRule"}}}}],"description":"The payload is a collection of `ApprovalRule` records. It is returned under a resource-named top-level key chosen by the internal controller (`accounts`, `bills`, `transactions`, …), NOT reliably under a fixed envelope field — see SuccessEnvelope. Which key this particular controller uses is not yet described; that arrives with the field contract.","x-hellobooks-payload":{"cardinality":"collection","record":"#/components/schemas/ApprovalRule"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-hellobooks-source":"factory","x-hellobooks-controller":"controllers/GRPC/Accounting/approvalRule.grpc","x-hellobooks-handler":"listApprovalRules","x-hellobooks-registry-verb":"list","x-hellobooks-scope-grain":"granular","x-hellobooks-required-scopes":["purchases:read"],"x-hellobooks-scope-domain":"purchases"},"post":{"operationId":"createApprovalRule","summary":"Create approvalRule record(s)","description":"Mounted by the generic resource factory in `routes/publicApi.routes.js` from the registry row `approvalRule` in `routes/publicApi.resources.js`. The request is delegated to the SAME internal controller a signed-in user hits (`controllers/GRPC/Accounting/approvalRule.grpc` → `createApprovalRule`), so it inherits that controller's validation, server-side tax computation and audit trail. Guards applied, in order: bearer token (`marketplace_app` audience) → plan API-access entitlement → rate limit → AI-credit metering → permission context of the installing user → tenant path match → `requireScope(\"purchases:write\")`.","tags":["approvalRule"],"security":[{"marketplaceOAuth2":["purchases:write"]},{"marketplaceOAuth2":["book:write"]}],"parameters":[{"$ref":"#/components/parameters/orgId"},{"$ref":"#/components/parameters/entityId"}],"responses":{"200":{"description":"Success. Note that these controllers return 200 with a failure message in some paths rather than a 4xx; check the body.","headers":{"RateLimit":{"description":"RFC 9651 draft-8 structured field, e.g. `\"default\"; r=118; t=41` — remaining requests and seconds until the window resets.","schema":{"type":"string"}},"RateLimit-Policy":{"description":"Draft-8 policy, e.g. `\"default\"; q=120; w=60; pk=:mkt:<clientId>:<installId>:` — quota, window in seconds, and the partition key the quota is counted against.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessEnvelope"},{"type":"object","properties":{"data":{"description":"Present only on the controllers that use the `data` key. When present it holds the record.","$ref":"#/components/schemas/ApprovalRule"}}}],"description":"The payload is a single `ApprovalRule` records. It is returned under a resource-named top-level key chosen by the internal controller (`accounts`, `bills`, `transactions`, …), NOT reliably under a fixed envelope field — see SuccessEnvelope. Which key this particular controller uses is not yet described; that arrives with the field contract.","x-hellobooks-payload":{"cardinality":"single","record":"#/components/schemas/ApprovalRule"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-hellobooks-source":"factory","x-hellobooks-controller":"controllers/GRPC/Accounting/approvalRule.grpc","x-hellobooks-handler":"createApprovalRule","x-hellobooks-registry-verb":"create","x-hellobooks-scope-grain":"granular","x-hellobooks-required-scopes":["purchases:write"],"x-hellobooks-scope-domain":"purchases","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"description":"Request body for `create` on `approvalRule`. The publishable field contract for this resource is NOT yet published, so this description does not enumerate its fields. The response body is a JSON object whose shape is whatever the internal controller emits. Do not read the absence of properties here as 'this resource has no fields' — it means 'HelloBooks has not yet committed to a field list for it'. The contract lands in routes/publicApi.fields.generated.js; this file regenerates from it. In addition, this gateway delegates straight to the internal controller, which in several cases expects the records under a resource-named wrapper key. This resource does not declare one — its create and update handlers disagree about the key, or it takes no records array at all — so the accepted envelope is not described here rather than guessed at.","x-hellobooks-field-contract":"unpublished"}}}}},"delete":{"operationId":"deleteApprovalRule","summary":"Delete approvalRule record(s)","description":"Mounted by the generic resource factory in `routes/publicApi.routes.js` from the registry row `approvalRule` in `routes/publicApi.resources.js`. The request is delegated to the SAME internal controller a signed-in user hits (`controllers/GRPC/Accounting/approvalRule.grpc` → `deleteApprovalRules`), so it inherits that controller's validation, server-side tax computation and audit trail. Guards applied, in order: bearer token (`marketplace_app` audience) → plan API-access entitlement → rate limit → AI-credit metering → permission context of the installing user → tenant path match → `requireScope(\"purchases:write\")`.","tags":["approvalRule"],"security":[{"marketplaceOAuth2":["purchases:write"]},{"marketplaceOAuth2":["book:write"]}],"parameters":[{"$ref":"#/components/parameters/orgId"},{"$ref":"#/components/parameters/entityId"}],"responses":{"200":{"description":"Success. Note that these controllers return 200 with a failure message in some paths rather than a 4xx; check the body.","headers":{"RateLimit":{"description":"RFC 9651 draft-8 structured field, e.g. `\"default\"; r=118; t=41` — remaining requests and seconds until the window resets.","schema":{"type":"string"}},"RateLimit-Policy":{"description":"Draft-8 policy, e.g. `\"default\"; q=120; w=60; pk=:mkt:<clientId>:<installId>:` — quota, window in seconds, and the partition key the quota is counted against.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SuccessEnvelope"},{"type":"object","properties":{"data":{"description":"Present only on the controllers that use the `data` key. When present it holds the record.","$ref":"#/components/schemas/ApprovalRule"}}}],"description":"The payload is a single `ApprovalRule` records. It is returned under a resource-named top-level key chosen by the internal controller (`accounts`, `bills`, `transactions`, …), NOT reliably under a fixed envelope field — see SuccessEnvelope. Which key this particular controller uses is not yet described; that arrives with the field contract.","x-hellobooks-payload":{"cardinality":"single","record":"#/components/schemas/ApprovalRule"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-hellobooks-source":"factory","x-hellobooks-controller":"controllers/GRPC/Accounting/approvalRule.grpc","x-hellobooks-handler":"deleteApprovalRules","x-hellobooks-registry-verb":"del","x-hellobooks-scope-grain":"granular","x-hellobooks-required-scopes":["purchases:write"],"x-hellobooks-scope-domain":"purchases","requestBody":{"required":true,"description":"This DELETE carries a request body — the registry's delete handlers are body-based, not id-in-path. That is unusual and is described because it is what the route actually does.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"description":"Request body for `del` on `approvalRule`. The publishable field contract for this resource is NOT yet published, so this description does not enumerate its fields. The response body is a JSON object whose shape is whatever the internal controller emits. Do not read the absence of properties here as 'this resource has no fields' — it means 'HelloBooks has not yet committed to a field list for it'. The contract lands in routes/publicApi.fields.generated.js; this file regenerates from it. In addition, this gateway delegates straight to the internal controller, which in several cases expects the records under a resource-named wrapper key. This resource does not declare one — its create and update handlers disagree about the key, or it takes no records array at all — so the accepted envelope is not described here rather than guessed at.","x-hellobooks-field-contract":"unpublished"}}}}}},"/orgs/{orgId}/entities/{entityId}/assetAttachment":{"put":{"operationId":"updateAssetAttachment","summary":"Update assetAttachment record(s)","description":"Mounted by the generic resource factory in `routes/publicApi.routes.js` from the registry row `assetAttachment` in `routes/publicApi.resources.js`. The request is delegated to the SAME internal controller a signed-in user hits (`controllers/GRPC/Accounting/assetAttachment.grpc` → `updateAssetAttachment`), so it inherits that controller's validation, server-side tax computati
[...]
